/* grand écran 
@media screen and (min-width: 781px) {

}  */

/* petit écran
@media screen and (max-width: 780px) {

} */


*{
  margin: 0;
  font-family: "poppins";
}

.header{
  background: #003C6E;
  border-bottom: 1px solid rgb(176, 176, 176);
}

body{
  background: #001b6e;
  z-index: 1;
}

.intro img,
.slideshow-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  border: 5px solid  rgba(2, 5, 26, 0.3);
}

/* grand écran  */
/* @media screen and (min-width: 781px) {
  :root {
    --pixel-size: 1.2;
  } 
}

 /* logo animation  */
/* @media screen and (max-width: 780px) {
  :root {
    --pixel-size: 0.6;
  }
}  */


/* .logo {
  width: calc(200px * var(--pixel-size));
  height: calc(150px * var(--pixel-size));
  overflow: hidden;
} */
/* 
.animation__logo {
  animation: moveSpritesheet 2.5s steps(23) infinite;
  width: calc(4600px * var(--pixel-size));

} */

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px,0,0);
  }
  to {
    transform: translate3d(-100%,0,0);
  }
}

header img {
  display: flex;
  position: relative;
  top:-10px;
  max-width: 100%;
}

header .logo {
  max-width: 33.33333%;
}


.container {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 3rem;  
  padding: 10px 20px;
}

/* grand écran */
@media screen and (min-width: 781px) {
	.container {
			max-width: 80%;
			margin: 40px auto;
  }

  header .socials a:hover {
    fill: black;
    transition: all 0.5s;
  }

  .header ul a:hover {
    color: #000;
  }
}  

.d-flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
  margin: 0 10px 0px 10px;
}

header .right {
	display: flex;
	align-items: center;
}

header .right ul{
  display: flex;
}

header .socials a {
  fill: white;
  padding: 0 10px;
}


  

.header li {
	display: inline-block;
	align-items: center;
	padding: 0 0.5rem;
}

main {
  color: #fff;
   /* color: #6ba8e6;  */
}

nav {
  display: flex;
  
}


.list-unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}



.socials li {
	margin-bottom: 0;
	padding:0px 0.5px;
}


.social a {
  padding: 0 10px;
}
.header a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1.5rem;
  text-decoration: none;
}
.burger {
	background: none;
	border: none;
	width: 35px;
	height: 35px;
	cursor: pointer;
	position: relative;
	margin-left: 0.5rem;
}

.burger .bar {
	display: block;
	width: 22px;
	height: 3px;
	background: white;
}

.burger .bar::before, .burger .bar::after {
	display: block;
	content: "";
	width: 22px;
	height: 3px;
	background: white;
	position: absolute;
}

.burger .bar::before{
	transform: translateY(-8px);
}

.burger .bar::after {
	transform: translateY(+8px);
}

.burger:hover .bar::before {
  background: #000;
  transition: all 0.5s;
}

.burger:hover span {
  background: #000;
  transition: all 0.5s;
}

.burger:hover .bar::after {
  background: #000;
  transition: all 0.5s;
}

/* petit écran */

@media screen and (max-width: 780px) {

  .d-flex {
    display: flex;
    align-items: center;
  }

  .logo {
    position: relative;
    top: 5px;
  }

  nav {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: fixed;
		top: 82px;
		left: 110%;
		width: 0%;
		overflow: hidden;
		opacity: 0;
		height: calc(100vh - 55px);
		background: #003C6E;
		transition: all 0.4s ease-out;
   
	}

	nav .menu li {
		display: flex;
		justify-content: center;
	}

	nav .menu a {
		display: block;
		font-size: 1.5rem;
		padding: 2rem;
	}
	nav .menu a:hover {
		color: rgb(0, 0, 0);
		transform: scale(1.1);
		transition:all 0.4s;
	}

	.show-nav nav {
		opacity: 1;
		width: 100%;
		left: 0;
		z-index: 4;
	}

	.show-nav .burger .bar {
		width:0;
	}

	.burger .bar::before,
	.burger .bar::after {
		transition: all 0.2s ease-out;
	}

	.show-nav .burger .bar::before {
		transform: rotate(-45deg);
	}

	.show-nav .burger .bar::after {
		transform: rotate(45deg);
	}

  .socials .icon {
    height: 20px;
  }

  .socials {
    display: flex;
    justify-content: center;
  }

  .intro .slide-left {
    animation: slideInLeft 1s;
  }

  .intro .slide-right {
    animation: slideInRight 1s;
  }
}

@media screen and (min-width: 781px) {
	.navbar {
			display: flex;
      margin-left: 20px;
      justify-content: center;
      text-align: center;
	}

	.burger {
			display: none;
		}

  .d-flex{
    margin: auto;
  }

  .socials .icon {
    height: 35px;
  }
  .socials{
    padding-left: 3rem;
  }
}

h1{
  margin: 3rem;
  text-align: center;
  font-size: 2.4rem;
}

h2{
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

p{
  line-height: 1.6rem;
  margin-bottom: 2rem;
}


/* store logos */
.logos svg {
  max-width: 100%;
  height: auto;
}

.logos {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
}

.logos .grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.logos .grid__item {
  max-width: 33.333%;
  height: auto;
  flex-direction: column;
  padding: 20px 80px;
}

@media screen and (max-width: 780px) {
  .logos .grid__item {
    padding: 20px;
  }
}

/* grand écran */
@media screen and (min-width: 781px) {

  /* .container {
    display: flex;
  } */

  .grid-one{
    display: flex;
    animation-duration: 1s ;
    animation-name: slideInLeft;

  }

  .grid-two{
    display: flex;
    animation-duration: 1s ;
    animation-name: slideInRight;
  }
  .grid-one .left{
    align-self: center;
  }

  .grid-two .right{
    align-self: center;
  }


  .intro__item {
    margin: 2rem;
  }

  .left {
    order:1;
  }

  .left,
  .right {
    max-width: 50%;
  }

  .header {
    position: relative;
  }
}

/* petit écran */
@media screen and (max-width: 780px) {
  h2{
    text-align: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  p {
    text-align: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .screenshot {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .countdown{
    display: none;
  }
}

@keyframes slideInLeft {
	from{
		transform: translateX(-110%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slideInRight {
	from{
		transform: translateX(110%);
	}

	to {
		transform: translateX(0);
	}
}

.countdown {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 4.5rem;
  color: #fff;
}
.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001B6E;
  padding: 40px;
  border-radius: 5px;
}

.countdown-timer span {
  margin: 0 10px;
  padding: 5px;
  border-radius: 28px;
  box-shadow: 5px 5px 5px 5px rgba(45, 55, 170, 0.6);
}

.countdown-days-container {
  margin: 0 10px;
  padding: 5px;
  background-color: #3B82F6;
  border-radius: 10px;
  width: 125px;
}

.days {
  font-size: 2rem;
}

/* contact form  */

.form {
	max-width: 600px;
	margin: 4rem auto 0 auto
}



.form input, .form textarea {
	display: block;
	width: 90%;
	padding: 1rem;
  margin: auto;
	margin-bottom: 2rem;
}
.form textarea {
	min-height: 200px;
}

.form .btn {
	background: #3B82F6;
	min-width: 160px;
	width: auto;
	color: white;
	margin: auto;
	border: none;
	font-size: 2rem;
	text-transform: uppercase;
}

.form .btn:hover {
	cursor: pointer;
	background: #003C6E;
  
}


/* footer  */
footer {
	color: #EEE;
	background: #003C6E;
	text-align: center;
	font-size: 0.8rem;
}

footer .grid {
	align-items: center;
}

footer .socials{
	text-align: center;
  margin-bottom: 14px;
}

footer .socials li {
	padding: 0 1.5rem;
}

footer .socials a {
	fill: white;
	border: 1px solid white;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	padding: 1rem;
	display: flex;
	justify-content: center;
  align-items: center;
	transition: all 0.8s;
}

footer p {
	margin-top: 3rem;
}

footer .socials a:hover {
	background: white;
	fill: black;
	transform: scale(1.2);
}
@media screen and (min-width:781px) {
	footer .grid__item {
		max-width: 33.333%;
	}

  footer .container {
    max-width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
  }

  footer .team {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  footer .portraits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .staff {
    max-width: 25%;
    margin: 1rem;
  }

  footer h2 {
    text-align: center;
    }
  footer p {
    display: inline;
  }

  footer .socials {
    display: flex;
  }
}

footer .team {
  margin-bottom: 2rem;
}

footer p{
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
footer img {
  border: 1px solid black;
  border-radius: 50%;
  flex: 1;
}

.video-wrapper {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;  /* Centers horizontally */
  
}

.trailer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* photo slide  */

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 26px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
  border-radius: 30%;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; 
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* .back {

  background: rgba(0,0,0,0.6);
  font-size: 2rem;
  padding: 10px;
  width: 70px;
  height: auto;
  position: fixed;
  right: 5px;
  bottom: 10px;
  z-index: 99;
  border-radius: 30%;
}

.back a{
  color: white;
  text-decoration: none;
} */

#myBtn {
  display: none; /* Hidden by default */
}

@media screen and (min-width: 781px) {
  #myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0,0,0,0.6); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
}